/* Fonts
font-family: 'Nunito Sans', sans-serif;
font-family: 'Roboto', sans-serif;

/* Global */
:root {
  --bground: #7E8495;
  --bigc: #5B678C;
  --mediumc: #41444D;
  --smallc: #8595CC;
}

body {
  height: 100%;
  width: 100%;
  background: var(--bground);
  overflow: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: grid; 
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(18, 1fr);
}

/* Circles */
.circle-container {
  grid-column: 4 / 8;
  grid-row: 6 / 14;
  min-width: 15vw;
  min-height: 30vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.circles {
  position: relative;
  width: 300px;
  height: 300px;
  background: #7E8495;
}

.big-circle {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  opacity: 0;
    -moz-transition: opacity 2.5s;
    -webkit-transition: opacity 2.5s;
    -o-transition: opacity 2.5s;
    transition: opacity 2.5s;
  background: #5B678C;
}

.loaded .big-circle {
  opacity: 1;
}

.medium-circle {
  margin-top: 17%;
  margin-left: 17%;
  position: absolute;
  width: 66%;
  height: 66%;
  background-color: #41444D;
  opacity: 0;
    -moz-transition: opacity 2.5s;
    -webkit-transition: opacity 2.5s;
    -o-transition: opacity 2.5s;
    transition: opacity 2.5s;
  border-radius: 50%;
}

.loaded .medium-circle {
  opacity: 1;
  transition-delay: .625s;
}

.small-circle {
  margin-top: 25%;
  margin-left: 25%;
  position: absolute;
  width: 50%;
  height: 50%;
  background-color: #8595CC;
  border-radius: 50%;
  opacity: 0;
    -moz-transition: opacity 3s;
    -webkit-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
  border-radius: 50%;
}

.loaded .small-circle {
  opacity: 1;
  transition-delay: 1.25s;
}

/* Center Line */
.centerline {
  grid-column: 9 / 9;
  grid-row: 6 / 14;
  width: 10px;
  height: 100%;
  border-left: 5px solid var(--mediumc);
  align-self: center;
  opacity: 0;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.loaded .centerline {
  opacity: 1;
  transition-delay: 2.5s;
}

/* Right Section */
.right-section {
  grid-column: 10 / 16;
  grid-row: 7 / 14;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: start;
}

/* Name Box */
.name {
  align-self: end;
  margin-bottom: 3%;
   opacity: 0;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.loaded .name {
  opacity: 1;
  transition-delay: 2.25s;
}

.name h1 {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 2.75em;
  color: var(--mediumc);
}

hr {
  border: 0;
  grid-column: 1 / 2;
  margin-top: -3px;
  height: 3px;
  width: 100%;
  background: var(--mediumc);
}

.name p {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  color: var(--mediumc);
}

/* Orb Box */
.btn-box {
  width: 100%;
  height: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.75em;
  font-weight: 500;
  color: var(--mediumc);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

/* Orb BTNS  */
.orb {
  position: absolute;
  width: 25%;
  height: 25%;
  padding: 25%;
   -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
  background: var(--bigc);
} 

.orb:hover {
  background: var(--smallc);
  box-shadow: 0 0 0 6px rgba(65,68,77,0.5);
}

/* Orb Stagger */
.orb-1 {
  opacity: 0;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.loaded .orb-1 {
  opacity: 1;
  transition-delay: 1.45s;
}

.orb-2 {
  opacity: 0;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.loaded .orb-2 {
  opacity: 1;
  transition-delay: 1.65s;
}

.orb-3 {
  opacity: 0;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.loaded .orb-3 {
  opacity: 1;
  transition-delay: 1.85s;
}

.orb-4 {
  opacity: 0;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.loaded .orb-4 {
  opacity: 1;
  transition-delay: 2.05s;
}


/* Link Names + Reveal */
.thing {
  position: relative;
}

.layer-1 {
  position: absolute;
  top: 105%;
  opacity: 0;
}

.layer-2 {
  position: absolute;
  top: 105%;
  left: -100%;
  opacity: 0;
}

.layer-3 {
  position: absolute;
  top: 105%;
  left: -200%;
  opacity: 0;
}

.layer-4 {
  position: absolute;
  top: 105%;
  left: -300%;
  opacity: 0;
}

.a1:hover + .layer-1 {
  opacity: 1;
}

.a2:hover + .layer-2 {
  opacity: 1;
}

.a3:hover + .layer-3 {
  opacity: 1;
}

.a4:hover + .layer-4 {
  opacity: 1;
}


/* Mobile Media Query */
@media all and (max-width:599px) {
  body {
    height: 100vh;
    width: 100vw;
    background: var(--bground);
    overflow: hidden;
  }

  .wrapper {
    width: 100vw;
    height: 100vh;
    display: grid; 
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(20, 1fr);
    justify-content: center;
    align-items: center;
    background: var(--bground);
    transition: background 1s ease;
  }

  .loaded .wrapper {
    background: #32384D;
    transition-delay: 2.7s;
  }

  /* Circles */
  .circle-container {
    grid-column: 3 / 11;
    grid-row: 2 / 8;
    min-width: 25vw;
    min-height: 25vh;
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .circles {
    position: relative;
    width: 200px;
    height: 200px;
    background: var(--bground);
    transition: background 1s ease;
  }

  .loaded .circles {
    background: #32384D;
    transition-delay: 2.7s;
  }

  .big-circle {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 0;
      -moz-transition: opacity 2.5s;
      -webkit-transition: opacity 2.5s;
      -o-transition: opacity 2.5s;
      transition: opacity 2.5s;
    background: #5B678C;
  }

  .loaded .big-circle {
    opacity: 1;
  }

  .medium-circle {
    margin-top: 17%;
    margin-left: 17%;
    position: absolute;
    width: 66%;
    height: 66%;
    background-color: #41444D;
    opacity: 0;
      -moz-transition: opacity 2.5s;
      -webkit-transition: opacity 2.5s;
      -o-transition: opacity 2.5s;
      transition: opacity 2.5s;
    border-radius: 50%;
  }

  .loaded .medium-circle {
    opacity: 1;
    transition-delay: .5s;
  }

  .small-circle {
    margin-top: 25%;
    margin-left: 25%;
    position: absolute;
    width: 50%;
    height: 50%;
    background-color: #8595CC;
    border-radius: 50%;
    opacity: 0;
      -moz-transition: opacity 3s;
      -webkit-transition: opacity 3s;
      -o-transition: opacity 3s;
      transition: opacity 3s;
    border-radius: 50%;
  }

  .loaded .small-circle {
    opacity: 1;
    transition-delay: 1s;
  }

  .centerline {
    display: none;
  }

  /* Bottom Section */
  .right-section {
    grid-column: 1 / -1;
    grid-row: 9 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    align-items: start;
  }

  /* Name - Chris Archer - Web Development */
  .name {
    font-size: .75em;
    justify-self: center;
    align-self: start;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }

  .loaded .name {
    opacity: 1;
    transition-delay: 2.5s;
  }

  .name h1 {
    color: var(--smallc);
  }

  .name hr {
    display: none;
  }

  .name p {
    color: var(--smallc);
  }

  /* Button Box - Horizontal elements  */
  .btn-box {
    width: 100%;
    height: 100%;
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }

  /* Disabling Orb-Style Desktop Buttons */
  .orb {
    all: initial;
    all: unset;
  }

  /* Mobile Buttons */
  .thing {
    position: unset;
  }

  .port {
    background: var(--smallc);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .port .a1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
  }

  .port .layer-1 {
    all: initial;
    all: unset;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
  }

  .res {
    background: #637199;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .res .a2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
  }

  .res .layer-2 {
    all: initial;
    all: unset;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
  }

  .ab {
    background: var(--bigc);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .ab .a3 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
  }

  .ab .layer-3 {
    all: initial;
    all: unset;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    color: #7483B3;
  }

  .cont {
    background: #4B5573;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  .cont .a4 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    height: 100%;
  }

  .cont .layer-4 {
    all: initial;
    all: unset;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    color: var(--smallc);
  }

  .spacer {
    width: 100%;
    height: 100%;
    background: #32384D;
  }

  /* Buttons Color Stagger */
  .port {
    opacity: 0;
    -moz-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
  }

  .loaded .port {
    opacity: 1;
    transition-delay: 2.25s;
  }

  .res {
    opacity: 0;
      -moz-transition: opacity 1s;
      -webkit-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s;
    }

  .loaded .res {
    opacity: 1;
    transition-delay: 2.05s;
  }

  .ab {
    opacity: 0;
      -moz-transition: opacity 1s;
      -webkit-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s;
  }

  .loaded .ab {
    opacity: 1;
    transition-delay: 1.85s;
  }

  .cont {
    opacity: 0;
      -moz-transition: opacity 1s;
      -webkit-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s;
  }

  .loaded .cont {
    opacity: 1;
    transition-delay: 1.65s;
  }

  .spacer {
    opacity: 0;
      -moz-transition: opacity 1s;
      -webkit-transition: opacity 1s;
      -o-transition: opacity 1s;
      transition: opacity 1s;
  }

  .loaded .spacer {
    opacity: 1;
    transition-delay: 1.45s;
  }

  /* Button Text */



}