body {
  background-color: darkgrey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.big {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
}

.showcase {
  display: flex;
  justify-content: center;
}

.showcase img {
  margin: 0;
  max-width: 1100px;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(158, 50, 50);
  padding-bottom: 20px;
}

.social h3 {
  font-size: 1.25em;
  font-weight: 800;
  margin-bottom: 5px;
}

.social p {
  padding: 3px;
}

.office h3 {
  font-size: 1.25em;
  font-weight: 800;
  margin-bottom: 5px;
}

.office p {
  padding: 3px;
}

.contact h3 {
  font-size: 1.25em;
  font-weight: 800;
}