/* Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Theme */
:root {
  --one: rgba(140, 43, 114, 1);
  --two: rgba(3, 103, 165, 1);
  --three: rgba(1, 55, 89, 1);
  --four: rgba(3, 119, 165, 1);
  --five: rgba(242, 115, 4, 1);
}

/* Body */
body {
  width: 100vw;
  height: 100vh;
  background: var(--three)
}

.wrapper {
  width: 50vw;
  height: 80vh;
  margin: 35px auto;
  font-family: 'Open Sans', sans-serif;
  background:  rgba(140, 43, 114, .7);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  width: 100%;
  height: 15%;
  background: var(--two);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.top h1 {
  width: 100%;
  font-size: 3em;
  color: var(--four);
  padding: 10px;
  background: rgba(242, 115, 4, .7);
  border-radius: 10px;
}

.form {
  width: 60%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form input[type="text"] {
  background: var(--three);
  outline: none;
  border: 3px solid var(--three);
}

.form_text {
  font-size: 2.5em;
  border-radius: 10px;
}

.form_button {
  font-size: 2em;
  background: var(--two);
  color: var(--five);
  border: 6px solid var(--two);
  border-radius: 10px;
}

.list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list li {
  list-style: none;
  font-size: 2.25em;
  padding: 10px 50px;
  margin-bottom: 10px;
  background: var(--four);
  border-radius: 10px;
}

