* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
  width: 40%;
  height: auto;
  margin: 35px auto;
  margin-top: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  justify-content: space-around;
  align-items: center;
  background: rgba(128, 128, 128,.15);
  padding: 25px;
}

h1 {
  font-size: 1.35em;
  font-weight: 300;
  margin-bottom: 2px;
}

h2 {
  font-size: 1em;
  font-weight: 400;
}

p {
  font-size: .75em;
  font-weight: 100;
  color: grey;
}

hr {
  border: 1.5px solid rgb(96, 226, 176);
  margin-top: 10px;
  width: 40%;
}

.card {
  padding: 20px;
  display: grid;
  grid-template-rows: .6fr .4fr;
  gap: 30px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2); 
}

.card .btm {
  display: flex;
  align-items: baseline;
}

.card .btm p {
  margin-left: 3px;
  color: black;
}