/* Global Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { 
  --aside: #072A40;
  --words: #A7AABC; 
  --borders: #7181B8; 
  --mback: #434656; 
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--mback);
  color: var(--words);
  font-family: 'B612 Mono', monospace;
  /* navbars and footers are usually edge to edge. try: padding: .5em 0; up to you. */
  padding: .5em;
  line-height: 1.25;
}

/* Navigation */
nav {
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin-top: .5em;
}

nav .navtop {
  max-height: 7.5vh;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: .5em;
}

nav .navtop .dashboard {
  font-size: 2em;
  font-weight: 800;
}

nav .navtop img {
  max-height: 7.5vh;
  border-radius: 50%;
}

nav .navtop p {
  font-size: 1.25em;
}

nav .navbottom {
  max-height: 7.5vh;
  grid-row: 2 / 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: .1em solid black;
}

nav .navbottom i {
  margin-top: 10;
  font-size: 2em;
}

nav .navbottom i:hover {
  color: var(--borders);
}


/* Information Boxes */
main section h1 {
  font-size: 2em;
  text-align: center;
  background-color: var(--aside);
  margin-top: 2%;
}

.aside {
  display: none;
}

.info-1 {
  max-width: 100vw;
  background-color: rgb(90, 92, 104);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: .75em;
}

.info-1 > div:hover {
  background-color: rgba(7, 42, 64, 0.473)
}

.info-1 .revenue {
  border: 2px solid #072A40;
  background-color: var(--mback);
  padding: 10%;
  margin-top: .75em;
  margin-left: .75em;
  display: flex;
  flex-direction: column;
}

.info-1 .revenue i {
  font-size: 2em;
  margin-bottom: .25em;
}

.info-1 .revenue p {
  font-size: 1em;
}

.info-1 .expenses {
  border: 2px solid #072A40;
  background-color: var(--mback);
  padding: 10%;
  margin-top: .75em;
  margin-right: .75em;
  display: flex;
  flex-direction: column;
}

.info-1 .expenses i {
  font-size: 2em;
  margin-bottom: .25em;
}

.info-1 .expenses p {
  font-size: 1em;
}

.info-1 .users {
  border: 2px solid #072A40;
  background-color: var(--mback);
  padding: 10%;
  margin-left: .75em;
  display: flex;
  flex-direction: column;
}

.info-1 .users i {
  font-size: 2em;
  margin-bottom: .25em;
}

.info-1 .users p {
  font-size: 1em;
}

.info-1 .online {
  border: 2px solid #072A40;
  background-color: var(--mback);
  padding: 10%;
  margin-right: .75em;
  display: flex;
  flex-direction: column;
}

.info-1 .online i {
  font-size: 2em;
  margin-bottom: .25em;
}

.info-1 .online p {
  font-size: 1em;
}

.info-1 .orders {
  border: 2px solid #072A40;
  background-color: var(--mback);
  padding: 10%;
  margin-left: .75em;
  margin-bottom: .75em;
  display: flex;
  flex-direction: column;
}

.info-1 .orders i {
  font-size: 2em;
  margin-bottom: .25em;
}

.info-1 .orders p {
  font-size: 1em;
}

.info-1 .inventory {
  border: 2px solid #072A40;
  background-color: var(--mback);
  padding: 10%;
  margin-right: .75em;
  margin-bottom: .75em;
  display: flex;
  flex-direction: column;
}

.info-1 .inventory i {
  font-size: 2em;
  margin-bottom: .25em;
}

.info-1 .inventory p {
  font-size: 1em;
}

/* Social Media Links */
main section .banner {
  font-size: 2em;
  text-align: center;
  background-color: var(--aside);
  margin-top: 3.5%;
}

.info-2 {
  max-width: 100vw;
  background-color: rgb(90, 92, 104);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: .75em;
}

.info-2 > .abc:hover {
   background-color: rgba(7, 42, 64, 0.473)
}

.info-2 .facebook {
  border: 2px solid #072A40;
  background-color: var(--mback);
  padding: 10%;
  margin-top: .75em;
  margin-left: .75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-2 .facebook i {
  font-size: 4em;
  margin-bottom: .25em;
  text-align: center;
}

.info-2 .facebook p {
  font-size: 1em;
  text-align: center;
}

.info-2 .instagram {
  border: 2px solid #072A40;
  background-color: var(--mback);
  padding: 10%;
  margin-top: .75em;
  margin-right: .75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-2 .instagram i {
  font-size: 4em;
  margin-bottom: .25em;
  text-align: center;
}

.info-2 .instagram p {
  font-size: 1em;
  text-align: center;
}

.info-2 .youtube {
  border: 2px solid #072A40;
  background-color: var(--mback);
  padding: 10%;
  margin-bottom: .75em;
  margin-left: .75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-2 .youtube i {
  font-size: 4em;
  margin-bottom: .25em;
  text-align: center;
}

.info-2 .youtube p {
  font-size: 1em;
  text-align: center;
}

.info-2 .pinterest {
  border: 2px solid #072A40;
  background-color: var(--mback);
  padding: 10%;
  margin-right: .75em;
  margin-bottom: .75em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-2 .pinterest i {
  font-size: 4em;
  margin-bottom: .25em;
  text-align: center;
}

.info-2 .pinterest p {
  font-size: 1em;
  text-align: center;
}

/* Live Charts */
main section .banner {
  font-size: 2em;
  text-align: center;
  background-color: var(--aside);
  margin-top: 3.5%;
  margin-bottom: .75em;
}

.charts {
  max-width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: .75em;
  padding: 0 .5em .5em .5em;
  background: rgb(90, 92, 104);
}

.chart-1 img {
  max-width: 100%;
  height: auto;
}

.chart-2 img {
  max-width: 100%;
  height: auto;
}

.chart-3 img {
  max-width: 100%;
  height: auto;
}

footer h1 {
  font-size: .75em;
  text-align: center;
  background-color: var(--aside);
  padding: .25em;
  margin-top: .75em;
}

/* Landscape Tablet and Desktop */
@media only screen and (min-width: 1023px) {
 
  /* Navigation */
  /* 
    First thing I noticed was the profile photo and chat icon were off in the nav container. 
    the photo is closer to the edge of the container than the chat box. 
    add padding to the parent and don't add margin to the children. 
  */
  nav {
    width: 100%;
    max-height: 15vh;
    display: flex;
    justify-content: space-between;
    margin-top: .75em;
    background-color: rgba(7, 42, 64, 0.534);
    /* navtop & navbottom will have equal distance away from the edge of the container */
    /* chose 11px because it lines up with the container under it. */
    padding: 0 11px;
  }

  .navtop {
    flex-direction: row-reverse;
  }

  .navtop p.dashboard {
    font-size: 3.25em;
    font-weight: 800;
    margin-left: .25em;
    margin-top: .25em;
  }

  nav .navtop img {
    /* while this works without a unit, i'd add one. px is default. */
    margin: 7 0 0 10;
    /* new margin */
    margin: 7px 0 0 0;
  }

  nav .navbottom {
    display: flex;
    /* can remove now. since we're using the parents padding */
    /* margin-right: 1.5em; */
    border: none;
  }

  .navbottom i {
    margin-left: 1.5em;
  }

  .navbottom .fa-bars {
    display: none;
  }

  /* Main Container Structure */
  main {
    display: grid;
    grid-template-columns: 1fr 6fr;
  }

  .aside {
    display: unset;
    grid-column: 1 / 2;
    max-width: 100%;
    height: 98%;
  }

  .info-1, .info-2, .charts {
    grid-column: 2 / 3;
  }

  .aside .aside-top h1 {
    font-size: 1em;
  }

  .banner {
    display: none;
  }

  /* Aside Styling */
  .aside {
    margin: 17 0 0 10;
    background-color: rgba(65, 82, 138, 0.301);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .aside .aside-nav h2 {
    font-size: 1.5em;
    font-weight: 800;
    margin-top: 15;
    padding: 0 30;
    background: rgba(7, 42, 64, 0.623);
  }

  .aside .aside-nav ul {
    list-style: none;
    margin-top: 10;
  }

  .aside .aside-nav ul li {
    padding: .15em;
  }

  .aside .aside-nav ul li:nth-child(n+2):nth-last-child(n+8):hover {
    color: white;
  }

  .aside .aside-nav ul li:nth-child(n+7):nth-last-child(n+4):hover {
    color: white;
  }

  .aside .aside-nav ul li:nth-child(n+11):nth-last-child(n+1):hover {
    color: white;
  }

  .aside .aside-nav ul li:first-of-type {
    margin-top: 1em;
    text-align: center;
    font-size: 1.25em;
    margin-bottom: .5em;
    border-bottom: 2px solid var(--aside);
  }

  .aside .aside-nav ul li:nth-of-type(5) {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: .5em;
    border-bottom: 2px solid var(--aside);
  }

  .aside .aside-nav ul li:nth-of-type(8) {
    text-align: center;
    font-size: 1.25em;
    margin-bottom: .5em;
    border-bottom: 2px solid var(--aside);
  }

  /* Main Right Structure */
  .right-container {
    display: grid;
    grid-template-rows: .75fr 2fr 2fr;
    gap: 1em;
    margin-top: 1em;
  }

  /* Main Right Content - TOP */
  .info-1 {
    grid-row: 1 / 2;
    display: flex;
    justify-content: space-around;
    gap: .15em;
    padding: .5em;
  }

  .info-1 .revenue {
    border: 2px solid #072A40;
    background-color: var(--mback);
    padding: 2%;
    width: 16%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .info-1 .revenue i {
    font-size: 2em;
  }

  .info-1 .revenue p {
   font-size: 1em;
  }

  .info-1 .expenses {
    border: 2px solid #072A40;
    background-color: var(--mback);
    padding: 2%;
    width: 16%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .info-1 .expenses i {
   font-size: 2em;
  }

  .info-1 .expenses p {
   font-size: 1em;
  }

  .info-1 .users {
    border: 2px solid #072A40;
    background-color: var(--mback);
    padding: 2%;
    width: 16%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .info-1 .users i {
    font-size: 2em;
  }

  .info-1 .users p {
    font-size: 1em;
  }

  .info-1 .online {
    border: 2px solid #072A40;
    background-color: var(--mback);
    padding: 2%;
    width: 16%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .info-1 .online i {
    font-size: 2em;
  }

  .info-1 .online p {
    font-size: 1em;
  }

  .info-1 .orders {
    border: 2px solid #072A40;
    background-color: var(--mback);
    padding: 2%;
    width: 16%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .info-1 .orders i {
    font-size: 2em;
  }

  .info-1 .orders p {
   font-size: 1em;
  }

  .info-1 .inventory {
    border: 2px solid #072A40;
    background-color: var(--mback);
    padding: 2%;
    width: 16%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .info-1 .inventory i {
    font-size: 2em;
  }

  .info-1 .inventory p {
   font-size: 1em;
  }
  
  /* Main Right Structure - Middle */
  .info-2 {
    grid-row: 2 / 3;
    max-width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: .05em;
    }

  .info-2 .chart-x {
    background: url(./img/dash_element3.png) no-repeat;
    background-size: contain;
    background-position: 50% 50%;
    grid-column: 1 / 2;
    grid-row: 1 / span 3;
    margin-left: 1em;
  }

  .info-2 .facebook {
    grid-column: 2 / 3;
    border: 2px solid #072A40;
    background-color: var(--mback);
    width: 75%;
    height: 75%;
    margin: 0;
    display: flex;
    justify-self: flex-end;
    align-self: center;
  }

  .info-2 .facebook i {
    font-size: 3em;
  }

  .info-2 .facebook p {
    font-size: 1em;
  }

  .info-2 .instagram {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    border: 2px solid #072A40;
    background-color: var(--mback);
    width: 75%;
    height: 75%;
    margin: 0;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .info-2 .instagram i {
    font-size: 3em;
  }

  .info-2 .instagram p {
    font-size: 1em;
  }

  .info-2 .youtube {
    grid-column: 2 / 3;
    border: 2px solid #072A40;
    background-color: var(--mback);
    width: 75%;
    height: 75%;
    margin: 0;
    display: flex;
    justify-self: flex-end;
    align-self: center;
  }

  .info-2 .youtube i {
    font-size: 3em;
  }

  .info-2 .youtube p {
    font-size: 1em;
  }

  .info-2 .pinterest {
    grid-column: 3 / 4;
    border: 2px solid #072A40;
    background-color: var(--mback);
    width: 75%;
    height: 75%;
    margin: 0;
    display: flex;
    justify-self: center;
    align-self: center;
  }

  .info-2 .pinterest i {
    font-size: 3em;
  }

  .info-2 .pinterest p {
    font-size: 1em;
  }

  /* Main Right Content - Bottom */
  .charts {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .chart-1 img {
    display: none;
  }

  .chart-2 img {
    width: 100%;
    height: auto;
    padding: 1em;
  }

  .chart-3 img {
    width: 100%;
    height: auto;
    padding: 1em;
  }
}