body {
  background-color: #182526;
  margin: 0;
}

header {
  height: 60px;
  background-color: #364959;
}

nav {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  float: right;
  padding-top: 3px;
}

.h-h2 {
  padding-top: 6px;
}

a {  
  margin: 3px;
  padding:10px;
  border:2px solid black;
  list-style-type: none;
  display: inline;
  background-color: darkgrey;
  border-radius: 10px;
  text-decoration: none;
  color: #182526;
}

a:hover {
  color:lightgrey
}

header h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 36px;
  text-align: left;
  padding: 0;
  color: #BABFBF;
}

.big-box {  
  width: 900px;
  margin: 1% auto;
  border: 2px solid darkgrey;
  padding: 10px;
  background-color: #364959;
  border-radius: 10px;
}

article {
  width: 60%;
  border: 1px solid darkgray;
  margin: 5px auto;
  padding: 3%;
  background-color: #68788C;
  border-radius: 10px;
}

article:hover {
  filter: drop-shadow(-6px 4px 2px rgb(93, 93, 93));
}

.small-box { 
  width: 404px;
  height: 404px;
  border: 2px solid darkgrey;
  padding: 10px;
  margin: 0 10px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: top;
} 

.small-box {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

img {
  margin: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}