/* Global Settings */
:root {
  --primary: #3c4359;
  --sec: #a9a8a9;
  --light: #D9D9D9;
  --medium:#364759;
  --dark: #182626;
} 

body{
  font-family: 'Quicksand', sans-serif;
  line-height: 1.4rem;
  background: var(--dark);
  color: var(--sec);
}

.btn {
  background: var(--sec);
  padding: .5em .8em;
  border-radius: 6px;
  text-decoration: none;
  color: var(--medium);
  margin-left: 10;
}

.btn:hover {
  color: var(--light);
}

/* Navigation */
nav {
  width: 100%;
  margin: 0;
  background: var(--medium);
  display: grid;
  grid-template-columns: auto 2fr 1fr;
}

nav img {
  max-width: 100%;
  margin-left: 15;
}

nav h1 {
  align-self: center;
  margin: 0 0 12 0;
  font-size: 3.5em;
  font-weight: 100;
}

#nav-toggle, .burger-menu {
  display: none;
}

.right-menu-desktop {
  align-self: center;
  grid-column: end;
  margin: 10 30 12 0;
  font-size: 1.25em;
}

.right-menu-mobile {
  display: none;
}

/* Banner */
.portfolio {
  text-align: center;
  margin-top: 25;
  padding: .8em 3em;
  background: var(--primary);
  border: 1px solid darkgrey;
}

/* Projects */
.port {
  opacity: 0.75;
  text-decoration: none;
  color: var(--sec);
}

.port:hover {
  opacity: 1;
}

.port:visited {
  border: none;
}

.port {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3em;
  grid-row-gap: 3em;
  margin: 3%;
}

.project1 img {
  width: 450px;
  max-width: 100%;
  align-self: center;
  justify-self: right;
  border: 1px solid black;
}

.project1 h1 {
  grid-column: 2 / 3;
  grid-row: -1 / 2;
  display: flex;
  margin-top: 45;
}

.project1 p {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-self: center;
  max-width: 600px;
}

.project2 img {
  width: 450px;
  height: 250px;
  max-width: 100%;
  object-fit: cover;
  align-self: center;
  justify-self: right;
}

.project2 h1 {
  grid-column: 2 / 3;
  grid-row: -1 / 2;
  display: flex;
  margin-top: 45;
}

.project2 p {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-self: center;
  max-width: 600px;
}

.project3 img {
  width: 450px;
  height: 250px;
  max-width: 100%;
  object-fit: cover;
  align-self: center;
  justify-self: right;
  filter: grayscale(40%);
}

.project3 h1 {
  grid-column: 2 / 3;
  grid-row: -1 / 2;
  display: flex;
  margin-top: 45;
}

.project3 p {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: flex;
  align-self: center;
  max-width: 600px;
}

.footer {
  text-align: center;
  margin-top: 25;
  padding: .2em 3em;
  background: var(--primary);
  border: 1px solid darkgrey;
  margin-top: 50;
}

/* Media Queries */
@media(max-width: 576px) {
  .burger-menu {
    display: flex;
    font-size: 2em;
    align-self: center;
    justify-self: center;
  }

  .right-menu-desktop {
    display: none;
  }

  #nav-toggle:checked ~ .right-menu-mobile {
    display: grid;
    grid-row: 2;
  }

  .portfolio {
    padding: .3em;
  }

  nav img {
    max-width: 80%;
    margin: 0;
  }

  nav h1 {
    font-size: 1.95em;
    margin: 0 10 7 0;
  }

  .port {
    display: grid;
    gap: 1em;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    max-width: 450px;
    margin-right: 20;
  }

  .project1 img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .project1 h1 {
    display: flex;
    font-size: 1.25em;
    margin: 0 0 110 0;
  }

  .project1 p {
    grid-row: 2 / 3;
    display: flex;
    align-content: space-around;
    font-size: .8em;
  }

  .project2 img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .project2 h1 {
    display: flex;
    font-size: 1.25em;
    margin: 0 0 130 0;
  }

  .project2 p {
    grid-row: 2 / 3;
    font-size: .8em;
    align-content: center;
  }

  .project3 img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .project3 h1 {
    display: flex;
    font-size: 1.25em;
    margin: 0 0 100 0;
  }

  .project3 p {
    grid-row: 2 / 3;
    font-size: .8em;
    align-self: flex-end;
  }
}

@media all and (max-width:980px) and (min-width: 577px) {
  .burger-menu {
    display: flex;
    font-size: 2em;
    align-self: center;
    justify-self: center;
  }

  .right-menu-desktop {
    display: none;
  }

  #nav-toggle:checked ~ .right-menu-mobile {
    display: grid;
    grid-row: 2;
  }

  .portfolio {
    padding: .3em;
  }

  nav img {
    max-width: 80%;
    margin: 0;
  }

  nav h1 {
    font-size: 1.95em;
    margin: 0 10 7 0;
  }

  .port {
    display: grid;
    gap: 1em;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto;
    max-width: 980px;
    margin-right: 20;
  }

  .project1 img {
    width: auto;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .project1 h1 {
    display: flex;
    font-size: 1.25em;
    margin: 0 0 75 0;
  }

  .project1 p {
    grid-row: 2 / 3;
    display: flex;
    align-content: space-around;
    font-size: .8em;
  }

  .project2 img {
    width: auto;
    height: auto;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .project2 h1 {
    display: flex;
    font-size: 1.25em;
    margin: 0 0 100 0;
  }

  .project2 p {
    grid-row: 2 / 3;
    font-size: .8em;
    align-content: center;
  }

  .project3 img {
    width: auto;
    height: auto;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .project3 h1 {
    display: flex;
    font-size: 1.25em;
    margin: 0 0 80 0;
  }

  .project3 p {
    grid-row: 2 / 3;
    font-size: .8em;
    align-self: flex-end;
  }

}